@{
  ViewData["Title"] = "New Dish";
}
<h1 class="text-center">Add a Dish!</h1>
<a href="/">Home</a>
@model Dish
<form class="mt-5" action="/create/dish" method="POST">
  <div class="row">
    <div class="col-4">
      <span class="text-danger" asp-validation-for="DishName"></span>
      <div class="form-group">
        <label asp-for="DishName">Dish Name</label>
        <input asp-for="DishName" type="text" class="form-control" id="DishName" placeholder="Enter dish">
      </div>
      <span class="text-danger" asp-validation-for="Calories"></span>
      <div class="form-group">
        <label asp-for="Calories"># of Calories</label>
        <input asp-for="Calories" type="number" class="form-control" id="Calories" placeholder="Enter calories">
      </div>
      <span class="text-danger" asp-validation-for="Description"></span>
      <div class="form-group">
        <label asp-for="Description">Description</label>
        <Textarea asp-for="Description" type="text" class="form-control" id="Description"></Textarea>
      </div>
    </div>
    <div class="col-4">
      <span class="text-danger" asp-validation-for="ChefId"></span>
      <div class="form-group">
        <label asp-for="ChefId">Chef</label>
        <select asp-for="ChefId" class="form-control" id="ChefId">
          
            @foreach(var chef in @ViewBag.chefs)
            {
              <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
            }
          
        </select>
        <button style="margin-top:130px; margin-left: 120px;" class="btn btn-dark btn-lg">Add Dish</button>
      </div>
    </div>
    <div class="col-4">
      <span class="text-danger" asp-validation-for="Tastiness"></span>
      <div class="form-group">
        <label asp-for="Tastiness">Tastiness</label>
        <select asp-for="Tastiness" class="form-control" id="Tastiness">
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
  </div>
</form>